@model html_24_03.Models.Noticia

@{
    ViewData["Title"] = "Edit";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="noticiaId" />
            <div class="form-group">
                <label asp-for="noticiaImg" class="control-label"></label>
                <input type="url" asp-for="noticiaImg" class="form-control">
                <span asp-validation-for="noticiaImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noticiaTitulo" class="control-label"></label>
                <textarea asp-for="noticiaTitulo" class="form-control"></textarea>
                <span asp-validation-for="noticiaTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noticiaDescr" class="control-label"></label>
                <textarea asp-for="noticiaDescr" class="form-control"></textarea>
                <span asp-validation-for="noticiaDescr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noticiaTexto" class="control-label"></label>
                <textarea asp-for="noticiaTexto" class="form-control mytextarea"> </textarea>
                <span asp-validation-for="noticiaTexto" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
