@model IEnumerable<html_24_03.Models.Cursos>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cursos</h1>

<div class=home-body>
<div class="home-div">
        <ul>
            @foreach (var item in Model) {
            <li>@Html.DisplayFor(modelItem => item.cursoNome)</li>
        }
        </ul>
    
</div>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cursoNome)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cursoNome)
            </td>
        </tr>
}
    </tbody>
</table>
*@