@{
    ViewData["Title"] = "Home Admin";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo {admin}</h1>
    <p>Bom trabalho e um ótimo dia :)</p>
</div>
