@{
    ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo {usuario}</h1>
    <p>confira nossas ultimas noticias</p>
</div>
